.topic {
    text-align: center;

    .image-preview {
        animation: fadein .65s ease-out;
        @keyframes fadein {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100%;
            }
        }
    }
}
